<app-titel [title]="title" [titlesize]="titlesize" [login]="login" [signup]="signup" [btsize]="btsize"></app-titel>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>1. Patient anlegen</h2>
      <p>Mit Patient anlegen erfassen Sie den Namen des Patienten, die Tierart, die Rasse und die Halterinformation.
      </p>
      <p><a class="btn btn-secondary" href="patient-card" role="button">Zum Patienten &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>2. Behandlungsjournal anlegen</h2>
      <p>Mit Behandlungsjournal anlegen erfassen Sie Diagnose und die Dauer der Therapie.</p>
      <p><a class="btn btn-secondary" href="bhjournal-list-detail" role="button">Zum Behandlungsjournal &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>3. Medikation und Indikatoren erfassen</h2>
      <p>Definieren Sie frei konfigurierbar die Medikation und die Indikatoren.</p>
      <p><a class="btn btn-secondary" href="bhjournal" role="button">Zur Übersicht &raquo;</a></p>
    </div>
  </div>
</div>
