<div class="row">
    <label class="col-3 col-form-label">{{labeltext}} </label>
    <div class="col-9" *ngIf="!HTML5_inputtype_date_Supported">
        <input [(ngModel)]="NG2Date" ng2-datetime-picker date-format="DD.MM.YYYY" date-only="true" class="form-control"
               placeholder="tt.mm.jjjj" (ngModelChange)="onDateChange($event)"/>
    </div>

    <div class="col-9" *ngIf="HTML5_inputtype_date_Supported">
        <input [(ngModel)]="HTML5Date" name="datum" #datum="ngModel"
               type="date" class="form-control" placeholder="tt.mm.jjjj" (ngModelChange)="onDateChange($event)"/>

    </div>
</div>
