<div class="container-fluid">
  <div *ngIf="!isLoading">
    <div class="card card-block card-outline-primary">
      <div class="card-text" *ngFor="let journal of journals">
        <h2 class="card-title">{{journal.name}}</h2>
        <p class="card-title">Diagnose: {{journal.diagnose}} </p>
        <div class="form-group row">
          <label class="col-form-label">Beginn der Therapie:</label>

          <div class="input-group">
            <input [(ngModel)]="journal.startdatum" name="Therapiebeginn" #Therapiebeginn="ngModel"
                   type="date" class="form-control" placeholder="tt.mm.yyyy"/>
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button"><i class="fa fa-calendar"></i>A</button>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label">Ende der Therapie: </label>
          <div class="input-group">
            <input [(ngModel)]="journal.enddatum" name="Therapieende" #Therapieende="ngModel"
                   type="date" class="form-control" placeholder="tt.mm.yyyy"/>
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button"><i class="fa fa-calendar">B</i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--<app-bhj-datepicker [dateModel]="endDate" [label]="MeinLabel" ></app-bhj-datepicker>-->
  </div>
</div>
