<div class="container-fluid">
  <div *ngIf="!isLoading">
    <div class="card card-block card-outline-primary">
      <div class="card-text" *ngFor="let journal of journalsUTC">
        <h2 class="card-title">{{journal.name}}</h2>
        <div class="form-group row">
          <p class="col-sm-2">Diagnose:</p>
          <p class="col-sm-10">{{journal.diagnose}}</p>
        </div>
        <app-dauer [(StartDatum)]="TherapieStartDatum" [(EndeDatum)]="TherapieEndeDatum" [labelStartDatum]="labelTherapieStart"  [labelEndeDatum]="labelTherapieEnde"></app-dauer>
      </div>
      <div class="row">
        <div class="col-sm-6 card card-block card-outline-primary">
          <app-medicament-list></app-medicament-list>
        </div>
        <div class="col-sm-6 card card-block card-outline-primary">
          <app-indikator-list></app-indikator-list>
        </div>
      </div>
    </div>
  </div>
</div>
