<div *ngIf="!isLoading">
  <div *ngIf="goBack">
    <app-indikator-list></app-indikator-list>
  </div>
  <div *ngIf="indikator && !goBack">
    <div class="container-fluid">
      <div class="card">
        <div *ngIf="!isEditing">
          <h4 class="card-header">Neuen Indikator hinzufügen</h4>
        </div>
        <div *ngIf="isEditing">
          <h4 class="card-header">Indikator {{indikator.name}} ändern</h4>
        </div>

        <div class="card-block">
          <div class="row">Name des Indikators:</div>
          <div class="form-group row">
            <input [(ngModel)]="indikator.name" class="form-control" type="text" placeholder="Name"/>
          </div>

          <app-haeufigkeit [isEditing]="isEditing"
                           (notifyHaufigkeitChanged)="onHaeufigkeitChange($event)"></app-haeufigkeit>
          <app-dauer [dauer]="indikator.dauer" [labelStartDatum]="labelStart" [labelEndeDatum]="labelEnde"
                     (StartDatumChange)="onStartDatumChanged($event)"
                     (EndeDatumChange)="onEndeDatumChanged($event)"></app-dauer>

          <div class="form-group row">
            <button *ngIf="!isEditing" class="btn btn-success" type="submit" (click)="addIndikator(indikator)"><i
              class="fa fa-floppy-o"></i>
              Hinzufügen
            </button>
            <button *ngIf="isEditing" class="btn btn-success" type="submit" (click)="editIndikator(indikator)"><i
              class="fa fa-floppy-o"></i>
              Speichern
            </button>
            <button class="btn btn-primary bhj-btn-right" type="button" (click)="back()"><i
              class="fa fa-floppy-o"></i>
              Abbrechen
            </button>
          </div>

          <div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Meldung:</strong> {{infoMsg.body}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

