<div class="container">
  <div [hidden]="submitted">
    <h1>Erstellen Sie ihr Behandlungsjournal-Konto </h1>

    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="z.B. martina.rogenmoser" required>
      </div>

      <div class="form-group">
        <label for="email">E-Mail-Adresse</label>
        <input type="email" class="form-control" id="email" placeholder="z.B. martina.rogenmoser@tierarztpraxis.ch" required>
      </div>

      <div class="form-group">
        <label for="password">Passwort</label>
        <input type="password" class="form-control" id="password" placeholder="z. B. Xtp49a#y" required>
      </div>

      <button type="submit" class="btn btn-success btn-block">Neues Konto erstellen</button>
    </form>
  </div>
</div>
