<div *ngIf="!isLoading">
    <div class="form-group row">
      <div class="col-sm-0">
        <app-bhjournal-list [journals]="bhJournals" (bhJournalChange)="onJournalselected($event)"></app-bhjournal-list>
      </div>
      <div *ngIf="selectedBhJournal && selectedPatient">
        <div class="col-sm-12">
          <app-bhjournal-detail [patient]="selectedPatient" [bhJournal]="selectedBhJournal" (bhJournalChanged)="onbhJournalChange($event)"></app-bhjournal-detail>
        </div>
      </div>
    </div>
</div>
