<div *ngIf="!isLoading">
  <div *ngIf="goBack">
    <app-medicament-list></app-medicament-list>
  </div>
  <div *ngIf="medikation && !goBack">
    <div class="container-fluid">
      <div class="card">
        <div *ngIf="!isEditing">
          <h4 class="card-header">Neue Medikation hinzufügen</h4>
        </div>
        <div *ngIf="isEditing">
          <h4 class="card-header">Medikation {{medikation.name}} ändern</h4>
        </div>
        <div class="card-block">
          <div class="row">Name des Medikamentes:</div>
          <form #form="ngForm" (ngSubmit)="isEditing? editMedication(medikation) : addMedication(medikation)">
            <div class="form-group row">
              <input [(ngModel)]="medikation.name" name="name" class="form-control" type="text" placeholder="Name"
                     aria-describedby="MedikamentHelpBlock" required/>
              <p id="MedikamentHelpBlock" class="form-text text-muted">
                Bitte den Namen des Medikaments eingeben.
              </p>
            </div>
            <app-haeufigkeit [isEditing]="isEditing"
                             (notifyHaufigkeitChanged)="onHaeufigkeitChange($event)"></app-haeufigkeit>
            <div class="row">Dosierung:</div>
            <div class="form-group row">
              <input [(ngModel)]="medikation.dosierung" name="dosierung" #dosierung="ngModel"
                     type="number" class="form-control" placeholder="Anzahl Tabletten"
                     aria-describedby="MedikamentHelpBlock" required/>
              <p id="DosierungHelpBlock" class="form-text text-muted">
                Bitte die Dosierung des Medikaments eingeben.
              </p>
            </div>
            <app-dauer [dauer]="medikation.dauer" [labelStartDatum]="labelStart" [labelEndeDatum]="labelEnde"
                       (StartDatumChange)="onStartDatumChanged($event)"
                       (EndeDatumChange)="onEndeDatumChanged($event)"></app-dauer>
            <div class="form-group row">
              <button class="btn btn-primary" type="submit" [disabled]="!(form.valid && isDauerValid())">
                <i class="fa fa-floppy-o"></i>Speichern
              </button>
              <button class="btn btn-warning" type="button" (click)="back()">
                <i class="fa fa-floppy-o"></i>Abbrechen
              </button>
            </div>
          </form>
          <div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Meldung:</strong> {{infoMsg.body}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
