<div *ngIf="goBack">
  <app-medicament-list></app-medicament-list>
</div>

<div *ngIf="medikation && !goBack">
  <div class="container-fluid">
    <div class="jumbotron">
      <div class="card">
        <div *ngIf="!isEditMode">
          <h4 class="card-header">Neue Medikation hinzufügen</h4>
        </div>
        <div *ngIf="isEditMode">
          <h4 class="card-header">Medikation {{medikation.name}} mutieren</h4>
        </div>

        <div class="card-block">
          <div class="row">Name des Medikamentes:</div>
          <div class="form-group row">
            <input [(ngModel)]="medikation.name" class="form-control" type="text" placeholder="Name"/>
          </div>

          <div class="row">Wie oft?</div>
          <div class="form-group row">
            <label class="btn btn-secondary {{medikation.haeufigkeit.morgens ? 'active': ''}}">
              <input class="bhj-hidden" type="checkbox" data-toggle="toggle"
                     [(ngModel)]="medikation.haeufigkeit.morgens"
                     (click)="switchHaeufigkeit(haeufigkeit.MORGENS)"/>morgens
            </label>
            <label class="btn btn-secondary {{medikation.haeufigkeit.mittags ? 'active': ''}}">
              <input class="bhj-hidden" type="checkbox" data-toggle="toggle"
                     [(ngModel)]="medikation.haeufigkeit.mittags"
                     (click)="switchHaeufigkeit(haeufigkeit.MITTAGS)"/>mittags
            </label>
            <label class="btn btn-secondary {{medikation.haeufigkeit.abends ? 'active': ''}}">
              <input class="bhj-hidden" type="checkbox" data-toggle="toggle"
                     [(ngModel)]="medikation.haeufigkeit.abends"
                     (click)="switchHaeufigkeit(haeufigkeit.ABENDS)"/>abends
            </label>
          </div>

          <div class="row">Dosierung:</div>
          <div class="form-group row">
            <input [(ngModel)]="medikation.dosierung"
                   name="stueckanzahl" #stueckanzahl="ngModel"
                   type="number" class="form-control" placeholder="Anzahl Tabletten"/>
          </div>


          <!-- TODO: call component Dauer -->
          <!-- <app-dauer></app-dauer>  -->
          <div class="row">Dauer:</div>
          <div class="row">...</div>

          <div class="form-group row">
            <button *ngIf="!isEditMode" class="btn btn-success" type="submit" (click)="addMedication(medikation)"><i
              class="fa fa-floppy-o"></i>
              Hinzufügen
            </button>
            <button *ngIf="isEditMode" class="btn btn-success" type="submit" (click)="editMedication(medikation)"><i
              class="fa fa-floppy-o"></i>
              Speichern
            </button>
            <button class="btn btn-primary bhj-btn-right" type="button" (click)="back()"><i
              class="fa fa-floppy-o"></i>
              Abbrechen
            </button>
          </div>

          <div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Meldung:</strong> {{infoMsg.body}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
