<div class="container">
  <div class="jumbotron">
    <div class="card" *ngIf="!isLoading">
      <h4 class="card-header">Medikamente für das {{bhJournal.name}}</h4>
      <div class="card-block">
        <table class="table table-bordered table-striped">
          <thead class="thead-default">
          <tr>
            <th>Name</th>
            <th>Morgens</th>
            <th>Mittags</th>
            <th>Abends</th>
            <th>Aktionen</th>
          </tr>
          </thead>
          <tbody *ngIf="medications.length === 0">
          <tr>
            <td colspan="5">Es hat keine Medikamente zurzeit für dieses Journal. Bitte Medikation erfassen.</td>
          </tr>
          </tbody>
          <tbody *ngIf="!isEditing">
          <tr *ngFor="let medication of medications">
            <td>{{medication.name}}</td>
            <td>{{medication.haeufigkeit.morgens? "ja": "nein"}}</td>
            <td>{{medication.haeufigkeit.mittags? "ja": "nein"}}</td>
            <td>{{medication.haeufigkeit.abends? "ja": "nein"}}</td>
            <td>
              <button class="btn btn-sm btn-warning" (click)="enableEditing(medication)"><i
                class="fa fa-pencil"></i>
                Bearbeiten
              </button>
              <button class="btn btn-sm btn-danger" (click)="deleteMedication(medication)"><i
                class="fa fa-trash"></i>
                Löschen
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
