.bhj-hidden {
  display: none;
}

.bhj-btn-right {
  float: right;
}

.bhj-btn-active {
  color: #fff;
  background-color: #85bdc8;
  border-color: #6ba1ac;
}

.btn-outline-info.nohover {
  color: #5bc0de;
  background-image: none;
  background-color: transparent;
  border-color: #5bc0de;
}
